{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": true}],
    "consistent-return": "off"
  }
}
